::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #ddd; 
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888; 
}

#order-table {
	width: 100%!important;
}

.glass-card {
	background: rgba( 255, 255, 255, 0.40 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 17.5px );
	-webkit-backdrop-filter: blur( 17.5px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.family-modal-wrapper {
	position: relative;
}

.family-modal-caption {
	position: absolute; 
	top: -35px; 
	left: 20px; 
	background: #fff;
}

.slimScrollBar {
	background: rgb(143, 214, 178)!important;
}